[client]
user_id=your_name_here
job_id=dl-replication-week0-svm
email_to=your_email@example.com
docker_url=s3://morf-public/fy2015-replication/fy2015-replication.tar
controller_url=https://raw.githubusercontent.com/educational-technology-collective/fy2015-replication/master/config/holdout/week_0/svm/controller.py

[args]
n_weeks=0
model_type=SVM


